* @sizhenhualei

# 关键文件
/.github/ @sizhenhualei
/tools/ @sizhenhualei
*.md @sizhenhualei
*.ps1 @sizhenhualei

# 构建关键文件
*.csproj @sizhenhualei
*.props @sizhenhualei
*.targets @sizhenhualei

# 关键组件
/YcyzClass/Services/LessonsService.cs @sizhenhualei
/YcyzClass/Services/ProfileService.cs @sizhenhualei
/YcyzClass/Services/SettingsService.cs @sizhenhualei
/YcyzClass/Services/Management/ @sizhenhualei
/YcyzClass/MainWindow.xaml* @sizhenhualei
/YcyzClass/App.xaml* @sizhenhualei
/YcyzClass.Core/ThemeBase.xaml @sizhenhualei

# 类别：自动化
**/Action @sizhenhualei
**/Automation @sizhenhualei
/YcyzClass.Core/Abstractions/Services/IActionService.cs @sizhenhualei
/YcyzClass.Core/Abstractions/Services/IAutomationService.cs @sizhenhualei
/YcyzClass/Services/ActionService.cs @sizhenhualei
/YcyzClass/Services/AutomationService.cs @sizhenhualei
/YcyzClass/Models/Actions @sizhenhualei
/YcyzClass/Controls/ActionSettingsControls @sizhenhualei

# 类别：集控/Protobuf
*.proto @sizhenhualei
